@charset "UTF-8";
.container {
  max-width: 120rem;
  margin: 0 auto; }

.nav-section {
  background-color: #f8f8f8;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0rem;
  z-index: 2; }

.header-section {
  background-image: url("../../img/cars-driving-street-aerial-view.webp");
  background-size: cover;
  height: calc(100vh - 15vh - 7rem); }
  @media only screen and (max-width: 37.5em) {
    .header-section {
      height: calc(100vh - 7rem); } }

.main {
  margin-top: 15rem; }

.services-section {
  padding: 1rem 2rem;
  margin-bottom: 4rem; }
  .services-section::after {
    content: "";
    border-bottom: 1px solid rgba(84, 84, 84, 0.3);
    display: block;
    max-width: 120rem;
    margin: 0 auto; }

.services {
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 14.2rem));
  row-gap: 2rem;
  column-gap: 8rem;
  margin-right: -1.5rem; }
  @media only screen and (max-width: 75em) {
    .services {
      column-gap: 1rem; } }
  @media only screen and (max-width: 61em) {
    .services {
      display: block; } }

.service {
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 61em) {
    .service {
      display: inline-block; } }
  .service--first {
    justify-self: start; }
  .service--last {
    justify-self: end; }
  .service__img {
    width: 10rem;
    opacity: 0.4; }
    .service__img:hover {
      opacity: 1; }
  .service__picture {
    width: 40vw;
    grid-column: 4/8;
    justify-self: end;
    display: none; }
  .service__text {
    grid-column: 1/4;
    padding: 2rem;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: justify;
    display: none; }
    .service__text p {
      margin-top: 1rem; }
  .service__name {
    font-size: 1.6rem;
    margin-top: 0.5rem; }

.show-service.service__text {
  display: block; }

.show-service.service__picture {
  display: block; }

.benefits-section {
  padding: 1rem; }

.benefits {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  row-gap: 8rem;
  column-gap: 4rem;
  margin-bottom: 15rem;
  font-size: 1.8rem;
  line-height: 1.5; }
  @media only screen and (max-width: 61em) {
    .benefits {
      grid-template-columns: minmax(min-content, 1fr);
      justify-items: center; } }
  .benefits__img {
    border-radius: 10px;
    max-width: 100%; }
    @media only screen and (max-width: 61em) {
      .benefits__img {
        grid-row: 1; } }
  .benefits__title {
    margin-top: 5rem;
    margin-bottom: 2rem; }
    .benefits__title a:link,
    .benefits__title a:visited,
    .benefits__title a:hover,
    .benefits__title a:active {
      color: blue;
      text-decoration: none; }
  .benefits__list {
    list-style: none; }
    .benefits__list li:not(:last-child) {
      margin-bottom: 0.5rem; }
    .benefits__list li:nth-child(1)::before {
      content: "۱. "; }
    .benefits__list li:nth-child(2)::before {
      content: "۲. "; }
    .benefits__list li:nth-child(3)::before {
      content: "۳. "; }
  .benefits__btn {
    grid-column: 1/-1; }
    @media only screen and (max-width: 37.5em) {
      .benefits__btn {
        display: flex;
        flex-direction: column;
        gap: 1rem; } }

.latest-blogs {
  margin-bottom: 15rem;
  padding: 1rem; }

.suported-city-section {
  background-color: #f8f8f8;
  padding: 3rem;
  font-size: 1.8rem; }
  @media only screen and (max-width: 61em) {
    .suported-city-section {
      display: none; } }

.suported-city {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem; }
  .suported-city__item p:not(:last-child) {
    margin-bottom: 1rem; }

.footer-section {
  background-color: #1f2939;
  padding: 4rem;
  font-size: 1.2rem; }

.footer__about, .footer__tap30, .footer__customer, .footer__driver, .footer__business {
  display: flex;
  flex-direction: column; }

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.2rem, 1fr));
  align-items: start;
  justify-items: center;
  min-height: 20rem;
  row-gap: 1rem; }
  .footer__about {
    align-self: stretch;
    color: #fff; }
    .footer__about p:not(:last-child) {
      margin-bottom: 1rem; }
    .footer__about p:first-child {
      font-size: 1.8rem; }
  .footer__tap30, .footer__customer, .footer__driver, .footer__business {
    color: #fff;
    gap: 3rem; }
    .footer__tap30 p:first-child, .footer__customer p:first-child, .footer__driver p:first-child, .footer__business p:first-child {
      font-size: 1.8rem; }
    .footer__tap30 ul, .footer__customer ul, .footer__driver ul, .footer__business ul {
      list-style: none; }
      .footer__tap30 ul li:not(:last-child), .footer__customer ul li:not(:last-child), .footer__driver ul li:not(:last-child), .footer__business ul li:not(:last-child) {
        margin-bottom: 1rem; }
      .footer__tap30 ul li a:link,
      .footer__tap30 ul li a:visited, .footer__customer ul li a:link,
      .footer__customer ul li a:visited, .footer__driver ul li a:link,
      .footer__driver ul li a:visited, .footer__business ul li a:link,
      .footer__business ul li a:visited {
        text-decoration: none;
        color: #fff; }
      .footer__tap30 ul li a:hover,
      .footer__tap30 ul li a:active, .footer__customer ul li a:hover,
      .footer__customer ul li a:active, .footer__driver ul li a:hover,
      .footer__driver ul li a:active, .footer__business ul li a:hover,
      .footer__business ul li a:active {
        color: #ff5b35; }
  .footer__img {
    width: 9rem; }
  .footer__media {
    display: flex;
    gap: 1rem;
    color: #fff; }
    .footer__media svg {
      width: 2rem;
      height: 3rem;
      fill: #d0ceda; }
      .footer__media svg:hover {
        fill: #ff5b35; }
  .footer__copy-right {
    color: #d0ceda; }
  .footer__media-title {
    margin-top: auto; }

.header {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14.2rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
  grid-template-rows: repeat(2, min-content);
  padding: 5vh 1rem; }
  @media only screen and (max-width: 61em) {
    .header {
      padding: 1rem; } }
  .header__content {
    grid-column: center-start/col-start 5;
    grid-row: 1;
    background-image: linear-gradient(to bottom left, rgba(84, 84, 84, 0.9), rgba(31, 41, 57, 0.9));
    background-size: cover;
    padding: 2rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    grid-template-rows: min-content minmax(min-content, 4vh);
    column-gap: 1rem;
    row-gap: 2rem; }
    .header__content a:last-child {
      grid-column: 1/-1;
      justify-self: center; }
    @media only screen and (max-width: 61em) {
      .header__content {
        grid-column: center-start/center-end; }
        .header__content a:last-child {
          justify-content: center;
          justify-self: stretch; } }
    @media only screen and (max-width: 37.5em) {
      .header__content {
        grid-template-columns: minmax(min-content, 1fr); } }
  .header__img {
    grid-column: col-start 6 / center-end;
    grid-row: 2;
    max-height: 46vh;
    justify-self: center;
    transform: translatey(0vh);
    box-shadow: 8px 1rem 2rem rgba(84, 84, 84, 0.4); }
    @media only screen and (max-width: 75em) {
      .header__img {
        transform: translatey(4vh);
        width: 68%; } }
    @media only screen and (max-width: 61em) {
      .header__img {
        display: none; } }

.nav {
  display: flex;
  gap: 2rem;
  align-items: center; }
  .nav__logo-box {
    margin-left: auto;
    position: relative; }
  .nav__logo {
    font-size: 4rem; }
    .nav__logo::after, .nav__logo::before {
      content: "";
      position: absolute;
      height: 0.7rem;
      background-color: #ff5b35; }
    .nav__logo::after {
      top: 3.5rem;
      width: 2.6rem;
      left: -2.8rem; }
    .nav__logo::before {
      top: 2.3rem;
      width: 1.3rem;
      left: -1.5rem; }
  .nav__logo-box:hover .nav__logo {
    color: #ff5b35; }
  .nav__logo-box:hover .nav__logo::after,
  .nav__logo-box:hover .nav__logo::before {
    background-color: #545454; }
  .nav__items {
    display: flex;
    gap: 1rem;
    align-items: center; }
    @media only screen and (max-width: 61em) {
      .nav__items {
        background-color: #fff;
        padding: 1rem;
        position: absolute;
        top: 7rem;
        right: 0;
        width: 100%;
        height: 55vh;
        flex-direction: column;
        justify-content: center;
        display: none; } }
  .nav__input {
    display: none; }
  .nav__input:checked ~ .nav__items {
    display: flex; }
    .nav__input:checked ~ .nav__items .nav__list {
      flex-direction: column; }
  .nav__label {
    background-color: #ff5b35;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: relative;
    display: none; }
    @media only screen and (max-width: 61em) {
      .nav__label {
        display: block; } }
  .nav__label span {
    display: inline-block;
    width: 3rem;
    height: 0.5rem;
    background-color: #f8f8f8;
    position: absolute;
    top: 2.5rem;
    left: 1.1rem; }
    .nav__label span::after, .nav__label span::before {
      content: "";
      width: 3rem;
      height: 0.25rem;
      display: inline-block;
      background-color: #f8f8f8;
      position: absolute; }
    .nav__label span::after {
      top: -0.8rem;
      left: 0rem; }
    .nav__label span::before {
      top: 1.1rem;
      left: 0rem; }
  .nav__input:checked + .nav__label span::after {
    transform: rotate(45deg);
    top: -0.3rem; }
  .nav__input:checked + .nav__label span::before {
    transform: rotate(-45deg);
    top: -0.3rem; }
  .nav__input:checked + .nav__label span {
    background-color: transparent; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Dana", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #545454; }

.heading-1th, .heading-2th, .heading-3th, .heading-4th {
  font-weight: 400;
  color: #fff;
  grid-column: 1/-1; }

.heading-1th {
  font-size: 4rem; }

.heading-2th {
  font-size: 3rem; }
  .heading-2th--dark {
    color: #1f2939; }

.heading-3th {
  font-size: 2rem; }
  .heading-3th--dark {
    color: #1f2939; }

.heading-4th {
  font-size: 1.8rem;
  font-weight: 700; }

.u-mb-very-small {
  margin-bottom: 2rem; }

.u-mb-small {
  margin-bottom: 4rem; }

.list {
  list-style: none;
  display: flex;
  gap: 2rem; }
  .list__link:link, .list__link:visited {
    text-decoration: none;
    font-size: 1.8rem;
    color: #545454; }
  .list__link:hover, .list__link:active {
    color: #ff5b35; }

.btn--orange, .btn--animated {
  background-color: #ff5b35;
  color: #fff; }

.btn {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer; }
  .btn:link, .btn:visited {
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    transition: all 0.02s; }
  .btn--orange:hover, .btn--orange:active {
    background-color: #ff6738; }
  .btn--animated:hover, .btn--animated:active {
    transform: scale(0.98); }
  .btn--blue {
    background-color: #0065dc;
    color: #fff; }
    .btn--blue:hover, .btn--blue:active {
      background-color: #1974df; }
  .btn--white {
    background-color: #fff;
    color: #1f2939; }
    .btn--white:hover, .btn--white:active {
      color: #545454; }
  .btn--outline {
    background-color: transparent;
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    transition: all 0.2s; }
    .btn--outline:hover, .btn--outline:active {
      color: #d0ceda; }
  .btn__icon {
    width: 2.4rem;
    height: 2.4rem; }
    .btn__icon--light {
      fill: #fff; }
  .btn__txt {
    font-size: 1.6rem; }

.inline-btn {
  color: #ff8d71;
  text-decoration: none; }
  .inline-btn__icon {
    color: #ff5b35;
    font-weight: bold; }

.spetial-services {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  row-gap: 8rem;
  column-gap: 4rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 37.5em) {
    .spetial-services {
      grid-template-columns: minmax(min-content, 1fr); }
      .spetial-services img:first-of-type {
        grid-row: 1; }
      .spetial-services img {
        width: 50%; } }
  .spetial-services__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.8rem;
    padding: 0 2rem;
    text-align: justify;
    line-height: 1.6; }
  .spetial-services__img {
    width: 100%; }
  .spetial-services__btn {
    align-self: flex-start; }

.features {
  background-image: linear-gradient(rgba(115, 165, 226, 0.8), rgba(115, 165, 226, 0.8)), url("../../img/cars-driving-street-aerial-view.webp");
  background-size: cover;
  height: 20rem;
  margin-bottom: 10rem;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-items: center; }
  @media only screen and (max-width: 61em) {
    .features {
      display: block;
      height: 35rem;
      padding: 2rem; } }
  .features__column-divider {
    display: flex;
    gap: 2rem;
    height: 10rem; }
    @media only screen and (max-width: 61em) {
      .features__column-divider {
        flex-direction: column;
        justify-content: space-between;
        align-items: center; } }
  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    color: #fff;
    width: 25%;
    padding: 1rem;
    position: relative; }
    .features__item:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 1.6rem;
      left: 0;
      display: block;
      width: 3px;
      height: 6rem;
      background-color: #fff; }
    @media only screen and (max-width: 61em) {
      .features__item {
        width: 100%; }
        .features__item:not(:last-child)::after {
          content: none; } }
    .features__item h4 {
      transform: translatey(2rem); }
  .features__detail {
    display: none;
    font-size: 1.6rem;
    line-height: 1.5; }
  .features__item:hover .features__detail {
    display: block; }
  .features__item:hover h4 {
    transform: translatey(0); }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: justify; }
  .cards__item {
    padding: 2rem; }
    .cards__item p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #9b9b9b; }
    .cards__item:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .cards__img {
    width: 100%;
    border-radius: 5px; }
  .cards__heading {
    font-weight: 600;
    margin: 1rem 0; }
