$color-grey-light-1: #f8f8f8;
$color-grey-dark-3: #4d4d4d;
$color-grey-dark-1: #545454;
$color-grey-dark-2: #1f2939;
$color-grey-light-2: #d0ceda;

$color-primary: #ff5b35;
$color-primary-light-1: #ff8d71;
$color-primary-light-2: #ff6738;

$color-secondary: #0065dc;
$color-secondary-light-1: #1974df;

$font-size-normal: 1.8rem;
